
.transparent_nav
{
    background-color: #dbdad5;
    
}
.nav_bar
{
    margin-top: -100px;
    margin-left: 700px;
    
}

   .brand
{
    background-color: #dadde3;
    height: 60px;
}
.footer {
    height: 350px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: -20px;

}
.footer_widget
{
  
  padding-top: 40px;
  margin-left:180px ;
}

.Comp_list
{
    margin-top: -150px;
    margin-left: 400px;
}
.support-list
{
   margin-left: 600px;
   margin-top: -120px ;
}
.footer_widget3
{
margin-top: -130px;
margin-left: 800px;
}



.footer1
{
    background-color:#56595e;
    padding-bottom: 70px;
    width: 650px;
    margin-left: 400px;
    height: 1px;
    

}
button{
    background-color:#39a5e3;
   
    margin-top: -30px;
    float: right;
    margin-right: 40px;
    

}
