


.transparent_nav
{
    background-color: #dbdad5;
    
}

.transparent_nav1
{
    background-color: #dbdad5;
    height: 60px;
    width: 100%;
    text-align: center;
    margin-top: -20PX;
}
h3


{
    text-align: center;
    margin-top: 50px;
}
.block
{
 margin-left: 300px;  
 margin-top: 55px; 
 

}
.block1
{
    margin-left: 650px;
    margin-top: -200px; 
}
.block2
{
    margin-left: 950px;
    margin-top: -200px; 
}
p{
    margin-left: -100px;
}
h4{
    margin-left: -50px;
}
.column {
    float: left;
    width: 19%;
    margin-bottom: 30px;
}
h2{
    text-align: center;
}
.Box
{
    margin-top: 50px;
}
.Box1
{
    margin-top: -150px;
}
.Box2
{
    margin-top: -150px;
}
.brand
{
    background-color: #dadde3;
    height: 60px;
}
.footer {
    height: 350px;
    width: 100%;
    background-color: black;
    color: white;
    margin-top: -20px;

}
.footer_widget
{
  
  padding-top: 40px;
  margin-left:180px ;
}
.footer_widget1
{
margin-top: -155px;
  margin-left:400px ;
}
.footer_widget2
{
   margin-top: -165px;
    margin-left:600px;
}
.footer_widget3
{
   margin-top: -139px;
    margin-left:800px;
}
.footer1
{
    background-color:#56595e;
    padding-bottom: 70px;
    width: 650px;
    margin-left: 400px;
    height: 1px;
    

}
button{
    background-color:#39a5e3;
   
    margin-top: -30px;
    float: right;
    margin-right: 40px;
    

}
