.transparent_nav
{
    background-color:#dbdad5;
    height:500px; 
    width: 100%;
    padding-top: 40px;
    text-decoration: none;
    height: 50px
   
  
}

#nav_list
{
   margin-top: -50px;
   margin-left: 700px;
  
   
}
   
#nav_list>li{
    display: inline;
    padding-top:10px;
   
   
   
  
}

.cta
{
    background-color: #dbdad5;
    height: 70px;
    margin-bottom: 30px;

}
#cta_text
{
    margin-top: 900px;
    padding-top: 22px;
    margin-left: 30px;
}
#cta_link
{
    
    
    background-color: #05d9e8;
    padding:8px;
    padding-bottom: 2px;
    margin-left: 900px;
    
   
}
h2{
    text-align: center;
   
   
   
    
}
.block
{
    margin-left: 200px;
    margin-top: 40px;
    list-style-type: none;
    margin-bottom: 10px;
}
.block1{
    margin-left: 600px;
    margin-top: -140px;
    list-style-type: none;
    margin-bottom: 10px;

}
.block2{
    margin-left: 980px;
    margin-top: -140px;
    list-style-type: none;
    margin-bottom: 10px;
}



#nav_item_1{
  padding:10px; 
  text-decoration: none; 
}
#nav_item_2{
    padding:10px;  
    text-decoration: none; 
  }

  #nav_item_3{
    padding:10px; 
    text-decoration: none;  
  }

  #nav_item_4{
    padding:10px; 
    text-decoration: none;  
  }
  .footer_widget
{
    background-color: black;
    height: 400px;
    width: 100%;
    color: white;
    margin-top: -100px;
   
    padding-left: 50px;
   
}
#comp_list{
    margin-left: 380px;
    list-style-type: none;
    
    margin-top: 20px;
    
}
#sup_list
{
    list-style-type: none;
   
    margin-top: 30px;
    margin-left: 700px;  
}
.footer1
{
    height: 50px;
    width: 50%;
    margin-top: -900px;
    margin-left: 260px;
    color:white;
    
  
    
    
    
    
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
    margin-left: 50px;
  }
  
  
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
   
    padding: 16px;
    text-align: center;
  
  }
  .rights
  {
      margin-top: 100px;
      margin-left: 500px;
  }
  .span
  {
      height: 60px;
      background-color: #dbdad5;
      margin-top: 150px;
      padding-top: 40px;
      color: white;
      word-spacing: 20px;
      padding-left: 450px;
  }

  